@model PracticaLogin.ViewModels.LoginVM
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <meta name="viewport" content="width=device-width" />
    <title>Iniciar Sesión</title>
</head>
<body>
    <div class="row mt-5 justify-content-center">
        <div class="col-sm-4">
            <div class="card">
                <div class="card-header">Iniciar Sesión</div>
                <div class="card-body">
                    <form asp-controller="Acceso" asp-action="Login" method="post">
                        

                        <div class="mb-3">
                            <input class="form-control" asp-for="Correo" placeholder="Correo" />
                            <span asp-validation-for="Correo" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <input class="form-control" asp-for="Clave" type="password" placeholder="Contraseña" />
                            <span asp-validation-for="Clave" class="text-danger"></span>
                        </div>
                        <div class="d-grid gap-2 mb-3">
                            <button class="btn btn-primary" type="submit">Ingresar</button>
                        </div>

                        @if (ViewData["Mensaje"] != null)
                        {
                            <div class="alert alert-danger" role="alert">@ViewData["Mensaje"]</div>
                        }

                        <a class="btn btn-dark w-100 mb-3 d-flex align-items-center justify-content-center gap-2" href="/Acceso/LoginConGoogle">
                              @await Html.PartialAsync("_GoogleIcon")
                            Iniciar sesión con Google
                        </a>
                        <span>¿No tienes una cuenta? <a asp-controller="Acceso" asp-action="Registrarse">Registrarse</a></span>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }
</body>
</html>
