@model PracticaLogin.ViewModels.UsuarioVM
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Registrarse</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>
<body>
    <div class="row mt-5 justify-content-center">
        <div class="col-sm-4">
            <div class="card">
                <div class="card-header">Registrate</div>
                <div class="card-body">
                    <form asp-controller="Acceso" asp-action="Registrarse" method="post">

                        <div class="mb-3">
                            <label asp-for="NombreCompleto" class="form-label"></label>
                            <input asp-for="NombreCompleto" class="form-control rounded-1" placeholder="Nombre Completo" />
                            <span asp-validation-for="NombreCompleto" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label asp-for="Correo" class="form-label"></label>
                            <input asp-for="Correo" class="form-control rounded-1" placeholder="Correo" />
                            <span asp-validation-for="Correo" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label asp-for="Clave" class="form-label"></label>
                            <input asp-for="Clave" type="password" class="form-control rounded-1" placeholder="Contraseña" />
                            <span asp-validation-for="Clave" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label asp-for="ConfirmarClave" class="form-label"></label>
                            <input asp-for="ConfirmarClave" type="password" class="form-control rounded-1" placeholder="Confirmar Contraseña" />
                            <span asp-validation-for="ConfirmarClave" class="text-danger"></span>
                        </div>

                        <div class="d-grid gap-2 mb-3">
                            <button class="btn btn-primary" type="submit">Registrate</button>
                        </div>

                        @if (ViewData["Mensaje"] != null)
                        {
                            <div class="alert alert-danger" role="alert">@ViewData["Mensaje"]</div>
                        }
                        

                        <a class="btn btn-dark w-100 mb-3 d-flex align-items-center justify-content-center gap-2" href="/Acceso/LoginConGoogle">
                              @await Html.PartialAsync("_GoogleIcon")
                            Iniciar sesión con Google
                        </a>

                        <div class="text-center">
                            <span>¿Ya tienes una cuenta? <a asp-controller="Acceso" asp-action="Login">Iniciar Sesión</a></span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }
</body>
</html>
